*{
  margin: 0px;
  padding: 0px;
  font-family: Knewave , sans-serif;
}
body{
  background-color: black;
}
  #heading{
    text-align: center;
    color: rgb(199, 221, 238);
    text-shadow: 0 0 20px rgb(7 , 134 , 238);
    word-spacing: 5px;
    letter-spacing: 2px;

  }
  #heading:hover{
    text-shadow: 0 0 40px rgb(255, 255, 255);
    cursor: pointer;
  }
  .image1{
    background-image: url("images/naruto2.jpg");
    cursor: pointer;
    background-size: cover;
    background-position: center;
    margin-left: 20px;
    margin-right: 30px;
  }
  .image2{
    /* background-color: rgb(119, 36, 36); */
    background: radial-gradient(#544535, #703636);
    margin-left: 60px;
    margin-right: 100px;

  }
.character{
  height: 400px;
  width: 300px;
  border: 2px solid white;
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: white;
}
.expending{
  display: flex;
  justify-content: center;
}
.card{
  height: 400px;
  width: 100px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 40px;
  margin: 20px;
  transition: width 0.5s;
  background-image: url("boruto.jpg");
  background-size: cover;
  background-position: center;
}
.card:hover{
  width: 600px;
  cursor: pointer;
}
.one{
  background-image: url("images/ONEPICE1.jpg");
  background-size: cover;
  background-position: center;
}
.two{
  background-image: url("images/bleach1.jpg");
  background-size: cover;
  background-position: center;
}
.four{
  background-image: url("images/naruto1.jpg");
  background-size: cover;
  background-position: center;
}
.three{
  background-image: url("images/demonslayer1.jpg");
  background-size: cover;
  background-position: center;
}
.five{
  background-image: url("images/gojo1.jpg");
  background-size: cover;
  background-position: center;
}
.six{
  background-image: url("images/tokyo1.jpg");
  background-size: cover;
  background-position: center;
}
.container{
  display: grid;
  height: 700px;
  grid-template-columns: repeat(3,2fr);
  grid-template-rows: repeat(3,2fr);
  grid-template-areas:
  'h i j'
  'h k j'
  'h k j';
  gap: 20px;
  margin: 20px;
  border-radius: 20px;
  background-color: rgb(19, 26, 50);
  margin: 20px;
}
.image{
  border: 2px solid rgb(11, 10, 10);
  grid-area: h;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  background-image: url(images/naruto2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tittle{
  /* border: 2px solid rgb(255, 255, 255); */
  grid-area: i;
  height: 100px;
  border-radius: 20px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  font-size: 26PX;
}
.charecter{
  /* border: 2px solid rgb(120, 113, 113); */
  grid-area: k;
  border-radius: 20px;
  display: grid;
  justify-content: center;
  font-size: 32px;
  color: white;
  background-color: #221846;
  overflow-y: scroll;
}
ul{
  list-style-type: none;
}
.story{
  /* border: 2px solid rgb(255, 255, 255); */
  grid-area: j;
  border-radius: 20px; 
  color: #cab8b8;
  font-size: 32px;
  overflow-y: scroll;
  justify-content: center;
  text-align: center;
}
.btn{
  width: 100px;
  height: 50px;
  border: 2px solid gray;
  border-radius: 13px;
  margin: 30px;
  font-size: 25px;
  text-decoration: none;
}
.butn{
  text-decoration: none;
  color: #544535;
}
.btn:hover{
  cursor: pointer;
  background-color: #cab8b8;
  box-shadow: #f38107d8;
}
#imagess1{
  background-image: url(images/onepice2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#imagess2{
  background-image: url(images/bleach2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#imagess3{
  background-image: url(images/demonslayar2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#imagess4{
  background-image: url(images/jujutsu2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#imagess5{
  background-image: url(images/tokyorevengers2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#imagess6{
  background-image: url(images/sololeveling1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#imagess7{
  background-image: url(images/aot1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#imagess8{
  background-image: url(images/dethnote1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#imagess9{
  background-image: url(images/haykyu1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#logo{
  border-radius: 15px;
}
#navbar{
  display: flex;
  margin: 20px;
  justify-content: center;
}
.navigation{
  padding-left: 30px;
  padding-right: 30px;
  font-size: 25px;
  text-decoration: none;
  color: white;
}
#prosses{
  display: flex;
  justify-content: center;
  padding: 20px;
}
#logging{
  border: 2px solid rgb(206, 160, 160);
  border-radius: 10px;
  height: 50px;
}
#logging:hover{
  background-color: antiquewhite;
}
#navigation:hover{
  color: #a67171;
}
