#h1{
    font-family: 'Courier New', monospace;
    font-size: 32px;
    font-weight: 600;
    font-style: ;
    text-align: center;
}
#p1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    border-top: 40px;
}
#p2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    border-top: 40px;
}
#p3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    border-top: 40px;
    border-left: 20px;
}
#button1{
    background-color: rgb(14, 190, 14);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 500;
    display: block;
    margin: 0 auto;
}
#a1{
    text-decoration: none;
    color: rgb(188, 97, 97);
    font-family: none;
}
#p4{
    display: flex; 
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    align-items: flex-end; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%;
    padding: 10px;
    background-color: lightgray;
    opacity: 35%;
}
body{
    background-image: url(images/background2222.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: aqua;
}